:root {
  --primary-color: #ff6314;
  --secondary-color: #eb611c;
  --highlight-color: #ff8a50;
  --tertiary-color: #2ecc71;
  --faded-color: #ffe0d0;
  --faded-color-2: #fff7f3;
  --light-background-color: #fafafa;
  --light-background-color-2: #ffffff;
  --dark-background-color: #222222;
  --unselected-background-color: #e9e9e9;
  --disabled-color: #949494;
  --font-color-dark: #333333;
  --font-color-light: #ffffff;
  --font-color-secondary: #7a7a7a;
  --background-color: #f5f5f5;
  --error-color: #ff4d4d;
  --font-title: "Montserrat Alternates", sans-serif;
  --font-body: "Montserrat", sans-serif;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titleFont,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat Alternates", sans-serif;
}

.titleLoginFont {
  font-family: "Anton", sans-serif;
  font-size: 60px;
}

.testConfig{
  background-color: yellow;
  padding: 10px;
  border-radius: 20px;
}

button,
a,
input,
textarea,
[role="button"],
section,
select,
article,
.userImage,
.btn-fechar
{
  -webkit-tap-highlight-color: transparent;
}

button:focus,
a:focus,
input:focus,
textarea:focus,
section:focus,
select:focus,
article:focus
.userImage:focus,
[role="button"]:focus,
.btn-fechar:focus
{
  outline: none;
}

.rotate180 {
  transform: rotate(180deg);
} 

.hidden {
  display: none !important;
}