#screen-exercises {
  padding-bottom: 60px;
}

.exercise-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  font-family: sans-serif;
}

.exercise-item + .exercise-item {
  border-top: 1px solid #ccc;
}

.exercise-item__info {
  display: flex;
  flex-direction: column; /* Coloca nome em cima do grupo */
}

.exercise-item__name {
  font-size: 1rem;
  font-weight: 700;
  color: #000;
}

.exercise-item__group {
  font-size: 0.85rem;
  color: #888; /* Cor cinza da imagem */
  margin-top: 4px;
}

.exercise-item__actions {
  display: flex;
}

/* Estilos base (o que é igual para todos os botões) */
.exercise-item__btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  transition: opacity 0.2s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Modificador para o botão de Editar */
.exercise-item__btn--edit {
  color: #000000; /* Preto */
}

/* Modificador para o botão de Excluir */
.exercise-item__btn--delete {
  color: #d32f2f; /* Vermelho (ex: Material Design Red) */
}

/* Efeito de hover comum */
.exercise-item__btn:hover {
  opacity: 0.6;
}

/* .primary-button--add{
  display: fixed;
  position: relative;
  background-color: var(--primary-color);
  border: none;
  bottom: 0;
  right: 0;
  color: var(--font-color-light);
  border-radius: 13px;
  width: 15%;
  aspect-ratio: 1/1;
} */
