.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  font-family: sans-serif;
  
}

.list-item + .list-item {
  border-top: 1px solid var(--border);
}

.list-item__info {
  display: flex;
  flex-direction: column; /* Coloca nome em cima do grupo */
  width: 100%;
  padding-right: 15px;
}

.list-item__title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-black);
}

.list-item__subtitle{
  font-size: 0.85rem;
  color: var(--text-muted); /* Cor cinza da imagem */
  margin-top: 4px;
  font-weight: 400;
}

.list-item__actions {
  display: flex;
}

/* Estilos base (o que é igual para todos os botões) */
.list-item__btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  transition: opacity 0.2s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Modificador para o botão de Editar */
.list-item__btn--edit {
  color: var(--text-black); /* Preto */
}

/* Modificador para o botão de Excluir */
.list-item__btn--delete {
  color: var(--status-danger); /* Vermelho (ex: Material Design Red) */
}

/* Efeito de hover comum */
.list-item__btn:hover {
  opacity: 0.6;
}

.list-item__badge{
  /* border: 1px solid var(--highlight-text); */
  opacity: 0.8;
  color: var(--highlight-text);
  padding: 0px 8px;
  border-radius: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  /* background-color: var(--bg-brand-light); */
}

.list-item__badge--highlight {
  border: 1px solid var(--highlight-text);
  opacity: 0.8;
  color: var(--highlight-text);
  padding: 0px 8px;
  border-radius: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  background-color: var(--bg-brand-light);
}

.list-item__date{
  font-size: 0.75rem;
  color: var(--text-muted);
  margin-top: 4px;
  display: inline-block;
  width: 35px;
  /* background-color: aqua; */
  text-align: right;
}

.list-item__title-complement{
  font-size: 0.75rem;
  color: var(--text-muted); /* Cor cinza da imagem */
  margin-top: 4px;
  font-weight: 400;
}