.bottom-nav {
  position: fixed;
  bottom: 20px;               /* Distância do fim da tela */
  left: 50%;
  transform: translateX(-50%); /* Centraliza a barra na tela */
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  background-color: white;
  width: 40%;                 /* Largura da barra */
  max-width: 400px;
  height: 80px;
  border-radius: 50px;        /* Formato de pílula */
  box-shadow: 0 10px 30px rgba(0,0,0,0.1); /* Sombra suave */
  padding: 0 10px;
  z-index: 1000;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 85%;
  border-radius: 40px;
  color: var(--disabled-color);
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  font-family: sans-serif;
}

/* Estilo para quando o item estiver ativo */
.nav-item.active {
  background-color: var(--faded-color);
  color: var(--primary-color);
}

.nav-icon {
  width: 28px;
  height: 28px;
  margin-bottom: 4px;
}

.nav-item span {
  font-size: 14px;
}