.botaoLargo{
    width: 80%;
    padding: 15px;
    background-color: var(--primary-color);
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--font-color-light);
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

.botaoLargo.desativado{
    opacity: 0.5;
    pointer-events: none;
}

button{
    cursor: pointer;
}