.headerPage{
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    /* background-color: lightgreen; */
    justify-content: space-between;
}


.userPlace{
    width: 50%;
    text-align: right;
    /* background-color: violet; */
}

.signOut{
    /* display: none; */
}