/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  --_c:no-repeat radial-gradient(farthest-side, var(--primary-color) 92%,#0000);
  background: 
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}
@keyframes l7 {to{transform: rotate(.5turn)}}

.espaco-loader {
  position: fixed;
  /* Isso faz ele flutuar sobre a tela, sem empurrar nada */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #f0f2f5; */
  background-color: var(--light-background-color-2);
  /* Cor de fundo SÓLIDA para tampar o que está atrás */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  /* Garante que fique na frente de tudo */
}