.login {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #ececec;
  border-radius: 13px;
  font-size: 16px;
  border: none;
  color: #2c2c2c;
  font-weight: 500;
}

#auth-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  height: 100vh; /* 100% da altura da tela visível */
  /* width: 100vw;  100% da largura da tela visível */
  /* background-color: aquamarine; */
}

.loginContainer{
  /* background-color: #f5f5f5; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginInput {
  display: flex;
  flex-direction: column;
  gap: 20px;           
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}