:root {
  --primary-color: #ff6314;
  --secondary-color: #eb611c;
  --tertiary-color: #2ecc71;
  --faded-color: #ffe0d0;
  --light-background-color: #fafafa;
  --dark-background-color: #222222;
  --disabled-color: #cccccc;
  --font-color-dark: #333333;
  --font-color-light: #ffffff;
  --background-color: #f5f5f5;
  --font-title: "Montserrat Alternates", sans-serif;
  --font-body: "Montserrat", sans-serif;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titleFont,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat Alternates", sans-serif;
}

.titleLoginFont {
  font-family: "Anton", sans-serif;
  font-size: 60px;
}

.testConfig{
  background-color: yellow;
  padding: 10px;
  border-radius: 20px;
}
