.screen-workout-details-style {
  padding-top: 80px;
}

.header-itens-template {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.titulo-treino {
  font-family: var(--font-title);
}

.subtitulo-treino {
  color: var(--font-color-secondary);
}

.detalhes-exercicio {
  color: var(--font-color-secondary);
}
