.smart-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: var(--light-background-color);
  color: var(--font-color-dark);
  z-index: 1000; /* Garante que fique sobre tudo */
  transition: transform 0.3s ease-in-out; /* Transição suave */
  display: flex;
  align-items: center;
  padding: 0 20px;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Esta classe será adicionada pelo JavaScript para esconder o header */
.header-hidden {
  transform: translateY(-100%);
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-weight: bold;
}

.btn-icon-dynamic-header {
  display: flex;
  align-items: center;
  width: 10%;
  color: var(--font-color-dark);
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  /* transition: background-color 0.3s; */
  justify-content: center;
  background-color: var(--light-background-color);
  justify-content: center;
  flex-direction: column;
}

.btn-text-header{
  font-size: 0.7em;
}
