/* O container agora faz o papel visual da barra */
.search-container {
    display: flex;
    align-items: center;
    /* Centraliza o ícone verticalmente */
    width: 100%;
    margin-bottom: 10px;
    padding: 0 15px;
    /* Padding lateral */
    background-color: #ececec;
    border-radius: 13px;
    margin-top: 30px;
}

/* Estilo do ícone */
.search-container .material-symbols-rounded {
    color: #757575;
    /* Cor do ícone */
    margin-right: 10px;
    font-size: 24px;
}

/* O input fica limpo, sem bordas ou fundo próprio */
.search-input {
    width: 100%;
    padding: 15px 0;
    /* Padding vertical para manter a altura */
    background: transparent;
    border: none;
    outline: none;
    /* Remove a linha azul ao clicar */
    font-size: 16px;
    color: #2c2c2c;
    font-weight: 500;
}

/* Opcional: Efeito visual quando o usuário clica para digitar */
.search-container:focus-within {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}